

.page-footer {
    color: black;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    border: black 1px solid;
    border-radius: 5px;
    position : fixed;
    bottom : 0;
    height : 25px;
    text-align: center;
    width:100%
}
