/* 
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/architecture-blue-build-162557.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    align-content: center;
  } */

  body { 
    background-image: url("../images/buildings_background.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999; 
  }
  #loginz2{
    padding-top: 5px;
    padding-bottom: 5px;
    max-width:50%;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 1);
    height: 50%;
}