/* nav {
    font-family: 'Merriweather', serif;
    background-color: black;
}

li.modal-trigger.fontWhite {
  color: white;
  font-size: 1rem;
}

li.sidenav-trigger.fontWhite {
  color: white;
  font-size: 1rem;
} */